@{
    ViewData["Title"] = "Home Page";
}

<div class="background_image">
    <div class="jumbotron">
    <h1>Contoso University Enrollment Manager</h1>
    <p>
        This software is strictly intended for use by the enrollments department.
        Use this to create, update, and delete students, courses,
        instructors, and departments.
    </p>
    </div>
</div>